<h1 mat-dialog-title>Commande N°{{data.name}}</h1>
<div mat-dialog-content>
    <div *ngIf="!data.isDelivered">
        <p>Livraison accepté ! Bonne route</p>
        <p>N'oubliez pas de remplir une attestion de déplacement ! </p>
        <a class="style-link" target="_blank" href="https://media.interieur.gouv.fr/deplacement-covid-19/">Attestation
            COVID-19</a>
    </div>
    <p *ngIf="data.isDelivered">Livraison effectué ! Merci</p>

</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>