<div class="container">
    <div class="position width-100">
        <h1 class="text-center">Bienvenue sur Producteur à Particulier (PaP) ! </h1>


        <p>Dans le cadre de la RGPD, si vous souhaitez supprimer votre compte merci d'adresser une demande à l'adresse
            mail
            suivante :
        </p>
        <a href="mailto:pap@gmail.com">pap@gmail.com</a>

        <hr>
        <div style="text-align: center;"><img src="../../../assets/largetile.png" /></div>
        <div></div>
    </div>
</div>
