.item {

    color:black;
}

.container {
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
}
.example-card {
  max-width: 400px;
}

.position {
    margin: auto;
}
.align {
    text-align: center;
}

    #map {
        height: 100%;
      }