<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()" *ngIf="isLogged">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">PaP</h1>
        <span class="example-spacer"></span>
        <button *ngIf="isLogged" mat-icon-button (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <div class="position-nav" *ngIf="whichUser === UserType.ARTISAN">
                    <a mat-list-item routerLink="/home">Accueil</a>
                    <a mat-list-item routerLink="/create-command">Créer une commande</a>
                    <a mat-list-item routerLink="/home">Voir mes commandes</a>
                </div>
                <div class="position-nav" *ngIf="whichUser === UserType.LIVREUR">
                    <a mat-list-item routerLink="/home">Accueil</a>
                    <a mat-list-item routerLink="/home">Voir toutes les livraisons</a>
                    <a mat-list-item>Votre trajet</a>
                </div>
                <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content style=" background-color:white;">
            <div class="position-color">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>