<div class="container">
    <div class="position">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Commande N°{{livraisonAttente._id}}</mat-card-title>
                <mat-card-subtitle>{{livraisonAttente.producer.companyName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2>Information sur la livraison</h2>
                <ul *ngIf="!livraisonAttente.isPending">
                    <li>Nom du livreur : {{livraisonAttente.deliverer.lastName}}</li>
                    <li>Téléphone du livreur : {{livraisonAttente.deliverer.phoneNumber}}</li>
                </ul>
                <p *ngIf="livraisonAttente.isPending">Aucun livreur n'a accepté votre commande pour le moment</p>
                <hr>
                <ul>
                    <!-- <li>Nom du client : {{livraisonAttente.}}</li> -->
                    <li>Adresse du client : {{livraisonAttente.deliveryAddress}}</li>
                    <li>Numéro du client : {{livraisonAttente.clientPhoneNumber}}</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

    </div>
</div>